@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

      * {
        outline: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      html {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
      }

      body {
        padding: 0.5rem;
        margin: 0.5rem;
        background-color: #f5f5f5;
        font-family: "Source Sans Pro", sans-serif;
      }

      /* selects all containers with id number suffix*/
      [id^="container"] {
        padding: 10px;
        margin: 5px;
        background-color: #fff;
        border-radius: 0.8rem;
        overflow: hidden;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
        transition: 0.2s;
      }

      #item-score{
          width: 100%;
          height:100%;
      }

      /* set min width of each container here - 300px*/
      #grid-container {
        width: 99%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .button-layout {
        width: 99%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 25px;
      }

      @media screen and (max-width: 705px) {
        .button-layout {
          grid-gap: 10px;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          padding: 15px;
        }

        .switch-container {
          padding: 10px auto;
          margin-left: 35%;
        }
      }

      .ySelectButton {
        position: sticky;
        bottom: 10px;
        background-color: #ff5232;
        border: 0;
        margin: auto;
        padding: 10px 30px;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        border-radius: 20px;
        flex-shrink: 0;
        z-index: 1;
        cursor: pointer;
      }
      .ySelectButton:hover {
        background: white;
        color: #ff5232;
        font-weight: bold;
        border-color: #ff5232;
        border-width: 2px;
        cursor: pointer;
      }

      .ySelectButton::after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
      }
      /*remove blue outlien ::After.focus*/

      .switch-container #switch, #switch-item {
        display: none;
        padding: 25px;
        margin: 10px;
      }

      .switch-container .switch-label {
        position: relative;
        cursor: pointer;
        margin: 20px;
      }
      .switch-container .switch-label .switch-rail {
        transition: all 0.2s ease-in-out;
        position: absolute;
        align-items: center;
        width: 60px;
        height: 30px;
        background: #696969;
        border-radius: 50px;
        overflow: hidden;
      }
      .switch-container .switch-label .switch-rail .switch-slider {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #fff;
      }
      .switch-container #switch:checked + .switch-label .switch-rail {
        transition: all 0.2s ease-in-out;
        background: #ff5232;
      }
      .switch-container
        #switch:checked
        + .switch-label
        .switch-rail
        .switch-slider {
        transition: all 0.2s ease-in-out;
        transform: translateX(30px);
      }

      #switch-text {
        position: relative;
        width: 49%;
        padding: 10px 10px 40px 10px;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
      }